.console {
    height: 33vh;
}

.console-wrapper {
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 100%;

    --background: #222222;
}

.console .xterm {
    width: 100%;
    padding: .5rem;
}

.console:focus-visible {
    outline: none;
}
